# ##DOCKER URL## will be replaced by the start.sh script with Docker linked
# container environment variables.
{% for item in ssl_reverse_proxy_hosts %}
upstream {{ item.subdomain }}_server {
        server %%{{ item.subdomain }} URL%%;
}

server {
        listen 443 ssl;
        ssl_certificate server.conf.d/.{{ item.ssl_name }}.crt;
        ssl_certificate_key server.conf.d/.{{ item.ssl_name }}.key;
        server_name {{ item.subdomain }}.{{ item.servername }};
        location / {
                include proxy_params;
                auth_basic {{ item.auth_basic }};
                auth_basic_user_file server.conf.d/.htpasswd;
                proxy_pass {{ item.ssl }}://{{ item.subdomain }}_server;
        }
}
{% endfor %}
