# SSL setup with basic http auth.
# Serve files from the root_directory
server {
        listen 443 ssl;
        ssl_certificate server.conf.d/.{{ item.ssl_name }}.crt;
        ssl_certificate_key server.conf.d/.{{ item.ssl_name }}.key;
        root {{ item.root_directory }};
        index index.html index.html;
        location ~ /({% for host in item.hostnames %}{{ host }}|{% endfor %}) {
                auth_basic              "Restricted";
                auth_basic_user_file    server.conf.d/.htpasswd;
                try_files $uri $uri/ =404;
        }       
        location / {
                try_files $uri $uri/ =404;
        }
}
