#!/bin/sh

# Remove default site
[ -f /etc/nginx/sites-enabled/default ] && rm /etc/nginx/sites-enabled/default

# This is necessary because the data-only container mounts have root:root 700
# permissions and nginx runs as www-data
chown -R www-data: /etc/nginx/sites-enabled
chown -R www-data: /etc/nginx/server.conf.d
chown -R www-data: /etc/nginx/conf.d

# Linked containers will have env variable WEB_PORT="tcp://172.0.2.3:8081", so
# we remove the tcp:// to get our URL.
# Ansible will add the necessary lines here based on the configured proxied sites like:
{% for item in ssl_reverse_proxy_hosts %}
NGINX_UPSTREAM_URL=$(echo ${{ item.subdomain|upper }}_PORT_{{ item.port }}_TCP|sed 's/tcp:\/\///')
sed -i "s/%%{{ item.subdomain }} URL%%/$NGINX_UPSTREAM_URL/g" /etc/nginx/sites-enabled/02-sites.conf
{% endfor %}

nginx
