[Unit]
Description=Sickbeard container
After=docker.service

[Service]
Restart=always
RestartSec=10
ExecStartPre=-/usr/bin/docker rm sickbeard_run
ExecStart=/usr/bin/docker run --volumes-from sickbeard_data -p 8081:8081 -v /etc/localtime:/etc/localtime:ro --name sickbeard_run sickbeard
ExecStop=/usr/bin/docker stop sickbeard_run

[Install]
WantedBy=multi-user.target
