[Unit]
Description=OpenVPN PIA client
After=docker.service

[Service]
ExecStartPre=-/usr/bin/docker rm openvpn-client-pia_run
ExecStart=/usr/bin/docker run \
--cap-add=NET_ADMIN \
--device=/dev/net/tun \
-p 2222:22 \
-p 8112:8112 \
-p 9091:9091 \
-v pia_config:/config \
-v pia_port:/var/run/pia \
-v /etc/localtime:/etc/localtime:ro \
--name openvpn-client-pia_run \
openvpn-client-pia
ExecStop=/usr/bin/docker stop openvpn-client-pia_run

[Install]
WantedBy=multi-user.target
