[Unit]
Description=Sabnzbd container
After=docker.service

[Service]
Restart=always
RestartSec=10
ExecStartPre=-/usr/bin/docker rm sabnzbd_run
ExecStart=/usr/bin/docker run \
--volumes-from sabnzbd_config \
-v /mnt/downloads:/data \
-p 8080:8080 \
-v /etc/localtime:/etc/localtime:ro \
--name sabnzbd_run \
sabnzbd
ExecStop=/usr/bin/docker stop sabnzbd_run

[Install]
WantedBy=multi-user.target
