[Unit]
Description=SSHD container for socks proxy
BindsTo=wireguard-client.service
After=docker.service wireguard-client.service
Requires=docker.service wireguard-client.service

[Service]
ExecStartPre=-/usr/bin/docker rm socks-proxy_run
ExecStart=/usr/bin/docker run \
--net=container:wireguard-client_run \
--name socks-proxy_run \
socks-proxy
ExecStop=/usr/bin/docker stop socks-proxy_run

[Install]
WantedBy=multi-user.target
