[Unit]
Description=Shinken monitoring container
After=docker.service

[Service]
Restart=always
RestartSec=10
ExecStartPre=-/usr/bin/docker rm shinken_run
ExecStart=/usr/bin/docker run --volumes-from shinken_config -p 7767:7767 -v /etc/localtime:/etc/localtime:ro --name shinken_run shinken
ExecStop=/usr/bin/docker stop shinken_run

[Install]
WantedBy=multi-user.target
