[Unit]
Description=php_fpm container
After=docker.service
Requires=docker.service

[Service]
Restart=always
ExecStartPre=-/usr/bin/docker rm php_fpm_run
ExecStart=/usr/bin/docker run \
-v /etc/localtime:/etc/localtime:ro \
-v /srv:/srv:ro \
--name php_fpm_run php_fpm
ExecStop=/usr/bin/docker stop php_fpm_run

[Install]
WantedBy=multi-user.target
