[Unit]
Description=Deluge container
After=docker.service

[Service]
ExecStartPre=-/usr/bin/docker rm deluge_run
ExecStart=/usr/bin/docker run \
--net=container:openvpn_run \
--volumes-from deluge_config \
--volumes-from media_data \
--volumes-from pia_port \
-v /etc/localtime:/etc/localtime:ro \
--init \
--name deluge_run \
transmission
ExecStop=/usr/bin/docker stop deluge_run

[Install]
WantedBy=multi-user.target
