[Unit]
Description=Deluge container
BindsTo=wireguard-client.service
After=docker.service wireguard-client.service
Requires=docker.service

[Service]
ExecStartPre=-/usr/bin/docker rm deluge_run
ExecStart=/usr/bin/docker run \
--net=container:wireguard-client_run \
--mount type=volume,source=deluge_config,target=/config \
-v /mnt/downloads:/data \
-v /etc/localtime:/etc/localtime:ro \
--init \
--name deluge_run \
deluge
ExecStop=/usr/bin/docker stop deluge_run

[Install]
WantedBy=multi-user.target
