[Unit]
Description=Deluge container
BindsTo=openvpn-client-pia.service
After=docker.service openvpn-client-pia.service

[Service]
ExecStartPre=-/usr/bin/docker rm deluge_run
ExecStart=/usr/bin/docker run \
--net=container:openvpn-client-pia_run \
--volumes-from deluge_config \
-v /mnt/downloads:/data \
-v pia_port:/var/run/pia \
-v /etc/localtime:/etc/localtime:ro \
--init \
--name deluge_run \
transmission
ExecStop=/usr/bin/docker stop deluge_run

[Install]
WantedBy=multi-user.target
