[Unit]
Description=Stringer RSS container
After=docker.service

[Service]
Restart=always
RestartSec=10
Environment=HOME=%h
ExecStartPre=-/usr/bin/docker rm stringer_run
ExecStart=/usr/bin/docker run \
-p 8080:8080 \
--name stringer_run \
-v /etc/localtime:/etc/localtime:ro \
--volumes-from stringer_data \
stringer
ExecStop=/usr/bin/docker stop stringer_run

[Install]
WantedBy=multi-user.target
