[Unit]
Description=Transmission container
After=docker.service

[Service]
ExecStartPre=-/usr/bin/docker rm transmission_run
ExecStart=/usr/bin/docker run \
--net=container:openvpn_run \
--volumes-from transmission_config \
--volumes-from media_data \
--volumes-from pia_port \
-v /etc/localtime:/etc/localtime:ro \
--name transmission_run \
transmission
ExecStop=/usr/bin/docker stop transmission_run

[Install]
WantedBy=multi-user.target
