[Unit]
Description=Syncthing Discovery server
After=docker.service

[Service]
Restart=always
ExecStartPre=-/usr/bin/docker rm syncthing_discovery_run
ExecStart=/usr/bin/docker run \
-p 8443:8443 \
--name syncthing_discovery_run syncthing_discovery
ExecStop=/usr/bin/docker stop syncthing_discovery_run

[Install]
WantedBy=multi-user.target
